.wrapper__main {
    width: 100%;
    justify-content: center;
    padding: 8% 0;
}

.wrapper__main-welcome {
    justify-content: center;
    gap: 12%;
    align-items: flex-end;
    flex-wrap: wrap;
}

.wrapper__main-welcome > h1 {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 68px;
    font-family: 'IBM Plex Mono', monospace;
}

.wrapper__main-welcome > div h3 {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    max-width: 400px;
    margin-bottom: 1.5em;
}

.wrapper__main-networks {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10em;
    gap: 4em;
    padding-bottom: 10px; 
}

.wrapper__main-networks a { 
    transition: .35s;
    padding: 15px 10px; 
    border-radius: 10px;
}

.wrapper__main-networks a:hover{ transform: translateY(-10px); }

.wrapper__main-networks a:nth-child(2):hover {
    background-color: #F200C0;
}
.wrapper__main-networks a:nth-child(3):hover {
    background-color: #0071F2;
}
.wrapper__main-networks a:nth-child(4):hover {
    background-color: #27A2E1;
}
.wrapper__main-networks a:nth-child(5):hover {
    background-color: black;
}

.wrapper__main-about {
    margin-top: 15em;
    justify-content: center;
    align-items: center;
}

.wrapper__main-about > h3 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    transition: .3s;
}

.wrapper__main-about > h3:hover {
    transform: translateY(-10px);
}

.wrapper__main-about p {
    color: white;
    max-width: 1000px;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    backdrop-filter: invert(5%);
    padding: 30px 30px;
    text-align: center;
}

.wrapper__main-about-skills {
    padding-top: 5em;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
}

.wrapper__main-about-skills__block {
    background-color: rgb(46, 46, 46);
    backdrop-filter: invert(5%);
    padding: 0.8em 2em 2em;
    max-width: 300px;
    transition: .4s;
    border: 2px solid rgb(46, 46, 46);
}

.wrapper__main-about-skills__block:hover {
    border-color: #F02948;
}

.wrapper__main-about-skills__block p {
    padding: 0;
    font-size: 16px;
    text-align: left;
    color: rgb(201, 201, 201);
    background-color:rgb(46, 46, 46);
}

.wrapper__main-about-skills__block h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 22px;
    border-bottom: 0.6px solid #F02948;
    padding-bottom: 15px;
    margin-bottom: 1em;
}

.wrapper__main-about-skills__block a {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.skills {
    stroke-width: 8;
    stroke: #F02948;
    fill: none;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: .4s;
    cursor: pointer;
}

.skills:hover {
    transform: scale(0.9);
}

.skills h2 {
    color: white;
    transform: rotate(90deg);
    font-family: 'Prompt', sans-serif;
    position: absolute;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-top: 2.18em;
}

button {
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #F02948;
    font-size: 15px;
    padding: 10px 30px;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    background-color: #F02948;
}

@media (max-width: 410px) {
    .wrapper__main-about p {
        text-align: left;
        padding: 0 0;
    }
}